* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
  background-color: black;
}

.cell {
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hit-cell {
  background-color: red;
}

.ship-cell {
  background-color: green;
}

.miss-cell {
  background-color: gray;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#dockyard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
}

#dockyard.vertical-layout {
  flex-direction: row;
  align-items: flex-start;
}

.ship {
  height: 30px;
  background-color: gray;
  border: 2px solid #333333;
  cursor: grab;
  margin-bottom: 15px;
}

#carrier {
  width: 150px;
}
#battleship {
  width: 120px;
}
#destroyer {
  width: 90px;
}
#submarine {
  width: 90px;
}
#patrol {
  width: 60px;
}

.ship.vertical {
  width: 30px !important;
  margin-right: 15px;
}

#carrier.vertical {
  height: 150px;
}
#battleship.vertical {
  height: 120px;
}
#destroyer.vertical {
  height: 90px;
}
#submarine.vertical {
  height: 90px;
}
#patrol.vertical {
  height: 60px;
}

.ship:active {
  cursor: grabbing;
  opacity: 0.6;
}
